<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aluno não encontrado</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="page-404">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <!--BEGIN CONTENT-->
                <div class="inner-circle"><i class="fa fa-home"></i><span>404</span></div>
                <span class="inner-status">Oops! O aluno não foi encontrado</span>
                <span class="inner-detail">
                    Certifique-se de ter escolhido nome ou matricula corretamente no campo de busca
                    <a href="/" class="btn btn-info mtl"><i class="fa fa-home"></i>&nbsp;
                        Voltar 
                    </a> 
                </span>
            </div>
        </div>
    </div>
</div>
    
</body>
</html>