<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso a plataformas</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="container">
        <h1>Consultar Plataformas - Colegio Vila</h1>
        <div class="icon-row">
            <a href="pagina1.html" target="_blank">
                <div class="icon">
                    <img src="/img/medalhei_logo.jpg" alt="Ícone 1">
                    <p>Dashboard Medalhei</p>
                </div>
            </a>
            <a class="arvore" href="pagina2.html" target="_blank">
                <div class="icon">
                    <img src="/img/arvore_icon.png" alt="Arvore de livros">
                    <p>Dashboard Arvore de livros</p>
                </div>
            </a>
            <a href="/Home" target="_blank">
                <div class="icon">
                    <img src="/img/colegio_vila.jpg" alt="Ícone 1">
                    <p>Buscar Logins - Plataformas</p>
                </div>
            </a>
        </div>
    </div>
</body>
</html>
