<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="container">
<<<<<<< HEAD
        <h1 class="text-top">Central De Plataformas</h1>
        <div class="icon-row">
            <a href="https://lookerstudio.google.com/reporting/ffc58189-78c2-48b3-b0fd-a81fdc7418c3" target="_blank">
                <div class="icon">
                    <img src="/img/medalhei_logo.jpg" alt="Medalhei">
                    <p>Dashboard Medalhei</p>
                </div>
            </a>
            <a href="https://lookerstudio.google.com/reporting/427a4ca9-14fc-44b7-83d8-4bf687127cf9" target="_blank">
                <div class="icon">
                    <img src="/img/arvore_icon.png" alt="Arvore de livros">
=======
        <h1>Central de plataformas</h1>
        <div class="icon-row">
            <a href="pagina1.html">
                <div class="icon">
                    <img src="/img/aluno.jpg" alt="Ícone 1">
                    <p>Dashboard Medalhei</p>
                </div>
            </a>
            <a href="pagina2.html">
                <div class="icon">
                    <img src="/img/aluno.jpg" alt="Ícone 1">
>>>>>>> ad94e166120bf5e3903358c6700c869faf2807a3
                    <p>Dashboard Arvore de livros</p>
                </div>
            </a>
            <a href="/">
                <div class="icon">
<<<<<<< HEAD
                    <img src="/img/colegio_vila.jpg"  target="_blank" alt="Colegio vila">
=======
                    <img src="/img/aluno.jpg" alt="Ícone 1">
>>>>>>> ad94e166120bf5e3903358c6700c869faf2807a3
                    <p>Buscar Logins - Plataformas</p>
                </div>
            </a>
        </div>
    </div>
</body>
<<<<<<< HEAD
</html>
=======
</html>
>>>>>>> ad94e166120bf5e3903358c6700c869faf2807a3
