<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/teste.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.min.css" rel="stylesheet"/>
    

</head>
<body>
    <section style="background-color: #3bd0cb;">
        <div class="container py-5">
          <div class="row">
            <div class="col">
              <nav aria-label="breadcrumb" class="bg-body-tertiary rounded-3 p-3 mb-4">
                <ol class="breadcrumb mb-0">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item"><a href="#">User</a></li>
                  <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                </ol>
              </nav>
            </div>
          </div>
      
          <div class="row">
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="card-body text-center">
                  <img src="https://static.vecteezy.com/ti/vetor-gratis/p3/15278806-o-avatar-do-graduado-icone-do-aluno-ilustracaoial-em-um-estilo-plano-isolado-em-um-fundo-branco-vetor.jpg" alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px;">
                  <h5 class="my-3">nome do aluno</h5>
                  <p class="text-muted mb-1">TURMA DO ALUNO</p>
                  <p class="text-muted mb-4">N DE MATRICULA DO ALUNO</p>
                  <div class="d-flex justify-content-center mb-2">
                    <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary">Voltar</button>
                    <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary ms-1">Download</button>
                  </div>
                </div>
              </div>
              <div class="card mb-4 mb-lg-0">
                
              </div>
            </div>
            <div class="col-lg-8">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Login App Vila</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">0000</p>        
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Senha App Vila</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">170903</p>        
                    </div>
                  </div>
                  
                  <hr>

                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Email Institucional</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">examplo@souvilacolegio</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Senha</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">mudar@1234</p>
                    </div>
                  </div>



                  <hr>


                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Login SFB</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">Johnatan.richmond.5</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Senha SFB</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">170903</p>
                    </div>
                  </div>

                  <hr>


                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Login Richmond</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">john@teste</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Senha Richmond</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">(098) 765-4321</p>
                    </div>
                  </div>



                  <hr>


                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Chave Arvore de Livros</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">ABCDE</p>
                    </div>
                  </div>


                  <hr>


                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Login Evolucional</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">1234567</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Senha Evolucional</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">1234567</p>
                    </div>
                  </div>

                  <hr>


                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Email Medalhei</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">jhon@teste.vila</p>
                    </div>
                  </div>


            
                  




                </div>
              </div>              
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
</body>
</html>

